header {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/tonneau2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 34vh;

  a {
    margin-left: auto;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.45);
    text-decoration: none;
    border-radius: 20%;
  }
  h1 {
    padding-top: 3.3rem;
    font-size: 3rem;
    color: white;
  }
  p {
    color: white;
  }
}
